table,tr,th{
    border: 1px solid black;
    border-collapse: collapse;
}

.button{
    border: 1px solid blue;
    padding: 0.375rem 0.75rem;
    background-color: white;
    color: blue;
}

.button:hover{
    background-color: blue;
    color: white
    
}